#promptExchange {
    overflow: scroll;
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
}

#loader {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 200px;
    z-index: 999;
}

.temperature-label {
    color: #fff;
}

#temperature {
    max-width: 100px;
}

.history-item {
    color: #fff;
}
